body, html{
  padding:0;
  margin:0;
  width:100%;
height:100%;
}

#container{
width:100%;
height:100%;
background:#ffffff;
}

.card{
 /* height:450px;
  width:800px;*/
   height:100%;
  width:100%;
  border:;
  border-radius:;
  color:;
  background:#335477;
  position:;
  font-weight:;
  margin:0 auto 0;
}
.card1{
 /* height:450px;
  width:800px;*/
   height:100%;
  width:100%;
  border:;
  border-radius:;
  color:;
  background:#ffffff;
  position:;
  font-weight:;
  margin:0 auto 0;
}
/*
@media only screen and (max-width: 600px) {
  #card1 {
    background-color: lightblue;
  }
  #mentalHealthEasy{
    font-size:37px;
  }
  #card{
    height:700px;
    background-color:pink;
  }
}
*/

@media only screen and (min-width:450px) and (max-width: 588px) {
#MH-EASY{font-size:36px;}
.card{background-color:red;}
}

#MH-EASY{height:120px;width:100%;font-size:50px;padding-top:10px;text-indent:20px;}
/*
@media only screen and (min-width:px) and (max-width:px){
#card{
height:700px;
background-color:pink;
  }
}
@media only screen and (min-width:px) and (max-width:px){  }
@media only screen and (min-width:px) and (max-width:px){  }
@media only screen and (min-width:px) and (max-width:px){  }
*/


#title{

}
.tiers{
  height:520px;
  width:300px;
  background-color:white;
  border:1px solid grey;
  border-radius:5px;
  margin:10px;
  float:left;
  text-align:center;
}
.tiers:hover{border:1px solid black;}
.tierTitle{
   height:55px;
  width:300px;
  background-color:#848489;
  border:0px solid grey;
  border-radius:5px 5px 0px 0px;
  color:white;
  text-align:center;
}

.tierH{
  text-align:center;
  font-weight:bold; color:white;
     height:55px;
  width:300px;
  font-size:28px;
    text-shadow: 1px 1px 2px  #C0BFC0;

}
.item-cell{
  width:100%;
  height:40px;
  border:none;
}
.itemIcon{height:40px;width:40px;border:none;float:right}

.itemDescription{height:246x;width:255px;border:none;float:left;color:#434343;font-size:18px;
  font-weight:bold;position:relative;
  transform:translateY(-50%);  top:50%;
  text-align:left;
  text-indent:11px;
  font-family:"Open Sans";
}

@font-face {
  font-family: quotes;
  src: url(PassionOne-Black.ttf);
}

.icn{
  height:30px;
  width:30px;
  top:50%;
  position:relative;
  transform:translateY(-50%);
}

#provider{
  height:550px;
  width:550px;
  top:50%;
  position:relative;
  transform:translateY(-50%);
  border:;
  margin:0 auto 0;
}

#provider-photo-Holder{
  height:419px;width:100%;
  border:;

}
#providerPhoto{
  height:395px;width:395px;
  border:3px solid #268db8;
  border-radius:50%;
  margin: 0 auto 0;
  position:relative;
}

#provider-sub-title{
 height:50px;
 border:;
  color:lightgrey;


}
#provider-title{
  height:75px;
  border:;
}

#provider-title{
  height:75px;
  text-align:center;
  font-size:  52px;
  color:white;
  font-family:;

}

#centerTiers{
  text-align:center;
  width:1300px;
  height:100%;
  border: 1px solid red;
  margin: 0 auto 0;
}

/*perks*/
/*     <link rel="stylesheet" href="style.css">
*/

.textDescript{
 height:142px;width:;text-align:;border:;color:grey;padding-top:10px;font-size:20px

}
.headTitle{
  height:30px;width:;text-align:;border:;font-weight:bold;font-size:26px;
    color:#434343;
}

.cardPerks{
 width:400px;height:auto;border:;float:left;padding-left:30px
}

.cardPic{
  height:50px;width:100%;text-align:;border:;
}
/*<!-- Austims section -->*/
#container-autism{
  height:2000px;
  width:100%;
  background:white;
  top:;
  position:;
}

.chkbox{color:#278eb9;font-size: 30px;float:left;padding-right:5px}
.specialty{color:#434343;font-size: 40px;float:left;line-height:0.8em}
