#container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}


/* Mobile S */

@media only screen and (max-width: 320px) {}


/* Mobile M */

@media only screen and(min-width:321px)and (max-width: 375px) {
    #exeName {
        font-size: 1vw;
        color: purple;
    }
}


/* Mobile L */

@media only screen and(min-width:376px)and (max-width: 425px) {
    #exeName {
        color: red;
    }
}


/* Tablet */

@media only screen and(min-width:426px)and (max-width:768px) {}


/* Laptop */

@media only screen and(min-width:769px)and (max-width: 1024px) {}


/* Laptop L */

@media only screen and(min-width:1025px)and (max-width: 1440px) {}


/* Laptop 4k */

@media only screen and(min-width:1441px)and (max-width: 2560px) {}