html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1e22;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: ;
}

h1 {
    color: white;
}

iframe {
    border-radius: 5%;
    border: dodgerblue 5px solid;
    margin: 0 auto 0;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c1d;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #3d3d3d;
}

li {
    float: left;
    font-size: 25;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5%;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: ;
    color: #05c3de;
    border-bottom: 3px solid dodgerblue;
    transition: 0.5;
    opacity: 100%;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #494949;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom: 1px solid black;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: orangered;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.noBottomBorder {
    border-bottom: none;
}

.card {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    padding-inline-start: 52px;
    padding-inline-end: 10px;
    padding-block: 0;
    width: 70%;
    min-width: 390px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 0 auto 0;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 95%;
}

.card1 {
    background: #1c1c1d;
    padding-block: 0;
    width: 70%;
    min-width: 390px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 1.2px solid #3d3d3d;
    border-radius: 8px;
    margin: 0 auto 0;
    height: 236px;
    margin-top: 20px;
    margin-bottom: 60px;
    opacity: 95%;
}

.card1:hover {
    color: black;
    padding-block: 0;
    border: 1px solid #5ac8fa;
    box-shadow: 0 5px 15px #6E6E73;
}

.card2 {
    background: linear-gradient(133deg, #50b6f1, #49a6f0 60%, #449bef 99%);
    padding-block: 0;
    width: 70%;
    min-width: 390px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: ;
    border-radius: 8px;
    margin: 0 auto 0;
    height: 236px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 95%;
}

.card:hover {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#operationHR {
    font-weight: bold;
    color: #05c3de;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    FONT-SIZE: 20PX;
}

#operationHR1 {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 43px;
    font-family: 'Oswald', sans-serif;
}

#contactBorder {
    height: 220px;
    background: url('../WALL/undefined\ -\ Imgur.gif');
    background-position: center;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
}

.msgTitleBarTop {
    position: relative;
    height: 20%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
}

.msgIconLeft {
    position: relative;
    height: 80%;
    width: 30%;
    float: left;
}

.msgContentRight {
    position: relative;
    height: 188.8px;
    width: 70%;
    float: left;
    margin-top: 4px;
    font-size: 16px;
    color: white;
}

#addressCopy {
    border-radius: 980px;
    border: 1px solid #858585;
    width: 358px;
    text-align: center;
    color: grey;
    margin: 0 auto 0;
    padding: 12px 22px;
    background-color: #545454;
}

#addressCopy:hover {
    border: 1px solid white;
    width: 358px;
    text-align: center;
    color: white;
    margin: 0 auto 0;
    background-color: black;
}

#bannerMain {
    height: 400px;
    height: 400px;
    background: url('../WALL/praise1-1.jpg') no-repeat fixed;
    background-size: cover;
    background-position-y: -349px;
}

#info {
    position: relative;
    /*transform: translateY(-50%);
    top: 50%;*/
    text-align: left;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

info1 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.mainIcon {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    width: 100%;
    height: 95px;
}

@font-face {
    font-family: SF;
    src: url(SFMono-Semibold.otf);
}
#gotoSite{
  text-decoration: none;
color:white;
position: relative;
/*transform: translateY(-50%);
top: 50%;*/
text-align: left;
font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.Ccard{
  border:2px solid #434343;border-radius:20px;background-color:;height:250px;width:450px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 100px auto 0;
}
.Ccard:hover
{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.iconContactLogo{
top:50%;
transform:translateY(-50%);
position:relative;
height:50px;
width:50px;
background-color:none;
padding-left:7px;
}

.iconTitleHolder{
float:left;
height:62.5px;
width:170px;
background-color:;
}
.centerMe{
      top:50%;
transform:translateY(-50%);
text-align:center;
position:relative;

}
.emailContent{
      top:50%;
transform:translateY(-50%);
text-align:center;
position:relative;

}

.iconContent{
  float:left;
  height:62.5px;
  width:217px;
  background-color:;
}

.emailTitle{
    top:50%;
transform:translateY(-50%);
text-align:center;
position:relative;
  font-size:20px;
  font-weight:bold;
  color:;
  font-family:;

}
.contactHeader{
width:100%;
background-color:;
height:62.5px;
text-align:center;
  border-radius:20px 20px 0px 0px;
  background-color:;
font-weight:bolder
}
