.loginBox{
height:220px;
width:450px;
background-color:#ebebeb;
border:1px solid #434343;
border-radius:5px;
margin: 0 auto 0;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.icon{
height:75px;
width:75px;
display:block;
margin-top:20px;
text-align:center;
margin: 20 auto 0
}

.header{

}
.usernameTitle{

}
.passwordTitle{

}
.cellHolder{

}

.btnOkay{
}

.btnCancel{
}

.btnOkay:hover{

}

.btnCancel:hover{

}

.forgotPassword{

}
.sectionHeader{
height:25px;
width:100%;
border-bottom:1px solid #919191;
background: linear-gradient(#FFFFFF, #b5b5b5);
text-align:center;
}
.sectionLeft{
width:100px;
float:left;
height:195px;
}
.sectionRight{
width:350px;
float:left;
height:195px;
float:left;
}

.buttonsSection{height:33.3%;width:100%;}
.userNamePassSection{height:33.3%;width:100%;}
.textSection{height:33.3%;width:100%;}
