body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(grey.png);
    background-repeat: repeat;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loginBox {
    height: 220px;
    width: 450px;
    background-color: #ebebeb;
    border: 1px solid #434343;
    border-top: 1px solid white;
    border-radius: 5px;
    margin: 0 auto 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.icon {
    height: 75px;
    width: 75px;
    display: block;
    margin-top: 20px;
    text-align: center;
    margin: 20px auto 0px;
}

.titleText {
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
    float: left;
    width: 90%;
    height: 70%;
    margin-top: 10px;
}

.subTitleText {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    float: left;
    width: 90%;
    height: 30%;
    margin-top: 5px;
    display: none;
}

.usernameTitle {
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    float: left;
    width: 120px;
}

.passwordTitle {
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    float: left;
    width: 120px
}

.cellHolder {
    width: 100%;
    height: 50%;
}

.forgotPassword {}

.sectionHeader {
    height: 25px;
    width: 100%;
    border-bottom: 1px solid #b2Afb1;
    background: linear-gradient(#FFFFFF, #b5b5b5);
    text-align: center;
}

.sectionLeft {
    width: 100px;
    float: left;
    height: 195px;
}

.sectionRight {
    width: 350px;
    float: left;
    height: 195px;
    float: left;
}

input[type="textbox"] {
    float: right;
    display: block;
    height: 25px;
    margin-right: 19px;
    border: 2px solid #bbbbbb;
    width: 210px;
}

input[type=textbox]:hover {
    width: 210px;
    border: 2px solid #66C8F7;
    float: right;
    display: block;
    height: 25px;
    margin-right: 19px;
}

input[type="password"] {
    float: right;
    display: block;
    height: 25px;
    margin-right: 19px;
    border: 2px solid #bbbbbb;
    width: 210px;
}

input[type="password"]:hover {
    width: 210px;
    border: 2px solid #66C8F7;
    float: right;
    display: block;
    height: 25px;
    margin-right: 19px;
}

.btnCancel {
    border: 2px solid #bbbbbb;
    float: right;
    margin-right: 12px;
    background: white;
    color: #2A2A2A;
    padding: 2px 16px;
    border-radius: 5px;
    font-weight: ;
    margin-top: 16px;
}

.btnCancel:hover {
    float: right;
    margin-right: 12px;
    background: white;
    color: #2A2A2A;
    padding: 2px 16px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-weight: bolder;
    -webkit-box-shadow: 1px 1px 10px 1px #66C8F7;
    box-shadow: 1px 1px 10px 1px #66C8F7;
    margin-top: 16px;
}

button {
    float: right;
    margin-right: 20px;
    background: linear-gradient(#66b0F9, #288Af9);
    color: white;
    padding: 2px 16px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bolder;
    border-color: #2567bE;
    margin-bottom: 0;
    margin-top: 16px;
}

button:hover {
    float: right;
    margin-right: 20px;
    background: linear-gradient(#66b0F9, #288Af9);
    color: white;
    padding: 2px 16px;
    border: 0;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bolder;
    border-color: #2567bE;
    -webkit-box-shadow: 1px 1px 10px 1px #66C8F7;
    box-shadow: 1px 1px 10px 1px #66C8F7;
}

.buttonsSection {
    height: 33.3%;
    width: 100%;
}

.userNamePassSection {
    height: 33.3%;
    width: 100%;
}

.textSection {
    height: 33.3%;
    width: 100%;
}