* {
    transition: 1s;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.mainTitle {
    height: 80px;
    width: 100%;
    background-color: white;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    border-bottom: 1px solid lightgrey;
    position: relative;
    margin-bottom: 10px;
    clear: both;
}

#name1 {
    font-size: 36px;
    font-weight: bolder;
    font-weight: 400;
    text-align: center;
    color: #777;
    line-height: 1.4;
}

#whatIdo {
    clear: both;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: grey;
}

h1 {
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

html body {
    font-family: Roboto, sans-serif;
    color: #777;
}

.subtitle {
    font-weight: 500;
}

.content {
    font-weight: 300;
}

.pane {
    height: auto;
    padding: 10px;
    width: 580px;
    background-color: white;
    margin: 0 auto 10px;
    clear: both;
    position: relative;
    box-sizing: border-box;
}

.accounts {
    height: 71px;
    max-width: 240px;
    margin: 12px auto 0;
    text-align: center;
}

.account-holder {
    height: 71px;
    width: 50px;
    float: left;
    text-align: center;
    margin-right: 30px;
}

.account-name {
    height: 21px;
    width: 50px
}

.account-pic {
    height: 50px;
    width: 50px;
}

p {}

li {
    margin-left: 20px;
}

@media only screen and (min-width:0px) and (max-width: 320px) {
    .content {
        background-color: ;
        width: 100%;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: 38px;
        color: ;
    }
    #whatIdo {
        font-size: 20px;
        font-weight: ;
    }
    p {
        font-size: 12px;
    }
    .pane {
        width: 100%;
    }
}

@media only screen and (min-width:321px) and (max-width: 375px) {
    .content {
        background-color: ;
        width: 100%;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: 38px;
        color: ;
    }
    #whatIdo {
        font-size: 20px;
        font-weight: ;
    }
    .pane {
        width: 100%;
    }
    p {
        font-size: 14px;
    }
}

@media only screen and (min-width:376px) and (max-width: 425px) {
    .content {
        background-color: ;
        width: 100%;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: 38px;
        color: ;
    }
    #whatIdo {
        font-size: 20px;
        font-weight: ;
    }
    .pane {
        width: 100%;
    }
    p {
        font-size: 16px;
    }
}

@media only screen and (min-width:426px) and (max-width: 768px) {
    .content {
        background-color: ;
        width: 100%;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: ;
        color: ;
    }
    #whatIdo {
        font-size: ;
        font-weight: ;
    }
    .pane {
        width: 100%;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
    .content {
        background-color: ;
        width: 100%;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: ;
        color: ;
    }
    #whatIdo {
        font-size: ;
        font-weight: ;
    }
    .pane {
        width: 780px;
    }
}

@media only screen and (min-width:1025px) and (max-width: 1440px) {
    .content {
        background-color: e;
        width: 830px;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: ;
        color: ;
    }
    #whatIdo {
        font-size: ;
        font-weight: ;
    }
    .pane {
        width: 830px;
    }
}

@media only screen and (min-width:1441px) and (max-width: 2560px) {
    .content {
        background-color: ;
        width: 830px;
    }
    h1 {
        font-size: ;
        font-weight: ;
    }
    #name1 {
        font-size: ;
        color: ;
    }
    #whatIdo {
        font-size: ;
        font-weight: ;
    }
    .pane {
        width: 830px;
    }
}