                    body,
                    html {
                        border: 0;
                        padding: 0;
                        transition: all 0.5s ease;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        margin: 0;
                        background: white;
                    }
                    
                    .container {
                        background: #333;
                        position: relative;
                        min-width: 320px;
                        height: 100%;
                        margin: 0 auto 0;
                    }
                    
                    footer {
                        height: 30px;
                        background: #373737;
                        font-size: 12px;
                        text-align: center;
                        display: block;
                        position: fixed;
                        bottom: 0;
                        width: 100%;
                        line-height: 30px;
                        color: white;
                    }
                    
                    .intro {
                        font-size: 26px;
                        font-weight: bolder;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #bebebe;
                        text-align: center;
                        width: 100%;
                        height: 80px;
                        background: #1c1c1c;
                        text-shadow: 0.5px 0.5px 1px #434343;
                    }
                    
                    .introText {
                        display: inline-block;
                    }
                    
                    .mainIcon {
                        border-radius: 50%;
                        border: 1px solid orange;
                        height: 40px;
                        width: 40px;
                        line-height: 50px;
                        margin-right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        position: relative;
                    }
                    
                    .introSub {
                        font-size: 16px;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #7f7f7f;
                        text-align: center;
                        width: 100%;
                        height: 50px;
                        background: #1c1c1c;
                        line-height: 50px;
                    }
                    
                    .bdr {
                        width: 97%;
                        height: 2px;
                        background: white;
                        margin: 0 auto 0;
                    }
                    
                    table {
                        margin-top: 25px;
                        font-size: 14px;
                        color: white;
                        width: 95%;
                        margin: 20px auto 0;
                        border-radius: 5px;
                    }
                    
                    tr {
                        height: 40px;
                    }
                    
                    table tr:hover th {
                        background: #777;
                        color: white;
                    }
                    
                    table tr:hover th a {
                        background: #777;
                        color: white;
                    }
                    
                    table tr> :first-child {
                        width: 25%;
                    }
                    
                    table tr> :nth-child(2) {
                        width: 50%;
                    }
                    
                    table tr> :nth-child(3) {
                        width: 20%;
                    }
                    
                    a:link {
                        text-decoration: none;
                        color: #009cda;
                        text-shadow: 0.5px 0.5px 1px black;
                    }
                    
                    a:hover {
                        text-decoration: underline;
                        color: #009cda;
                        cursor: pointer;
                    }
                    
                    a:visited {
                        color: #009cda;
                    }
                    
                    tr:nth-child(even) {
                        background-color: #efefef;
                        color: #424242;
                    }
                    
                    tr:nth-child(odd) {
                        background-color: #4e4e4e;
                        color: white;
                    }