
#searchButton{
  
  } 

#Dl {
}
#DlL {
color:00c0FF;
margin-right: 4px;
}
#Play, #FastDL {
color:DBDBDB;
margin-right: 4px;
text-decoration: none;
}

#Play:hover, #FastDL:hover{
color:DBDBDB;
margin-right: 4px;
text-decoration: underline;
}

.songStats{
    font-size: 13px;
    width:80px;
    height:60px;
    float:left;
    margin-left:20px;
    margin-top:14px;
}
#mainImg {
background-image: url("");
background-repeat: no-repeat;
background-position: left top;
margin-right: 100px;
display:block;
}
#FileStat{
}

#SearchBar{
  -moz-border-radius-topright: 30px; 
    -webkit-border-top-right-radius: 30px; 
    border-top-right-radius: 30px; 
    -moz-border-radius-bottomright: 30px; 
    -webkit-border-bottom-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border: 1px solid #DBDBDB; 
    outline:0; 
    height:30px; 
    width: 300px; 
    padding-left:15px; 
    background-color:FFFFFF;
    margin-top:65px;
    
   
}
#SearchBar:hover{
    
            box-shadow: 0 0 5px 3px #7ACAEF; 

}
#SongTitle{
color:white;
font-weight:bold;
font-family: Tahoma, Arial, Helvetica, sans-serif;
float: left;
}
#OrderBy{
}
#TopMusic{
}
#Video{
}
#Banner {
width: 726px;
height: 88px;
border: 1px solid #ddd;
display: flex;
align-items: center;
background: #ffffff;
}
#TopBar{height:150px;
}
#Song{
text-align:left;
font-weight:bold;
width:829px;
}

.mainL{width:125px;height:125px;float:left;margin-top:15px
;display:block}

#left{
float:left;
width:53px;
text-align:right;
padding-right:6px;
border-right:1px solid #ccc;
font-size:11px;
margin-right:15px;
height:46px;
line-height: 14px;
}
body{
background-color:#333333;
background-image:url("");
color:#DBDBDB;
}
#mp3Icon{
margin-right: 5px;height:72px;width:72px;display:block; 
}
#content{float:left;text-align: center;}
#data{height:70px ;width:85px;float: left;}
.row{height:72px;width:100%; margin-top: 3px}
.row:hover{background-color: #515056}
hr{padding:0;margin:0;clear:both;}

@media screen and (max-width:320px){
.row{background-color: red;height:200px;}
img[src="updated_files/ipod-video-black-apple.png"]
{width:50px;
height:50px;
float:left;
margin-top:15px;
}
input[type="textbox"]{width: 10px;}
#mainImg{margin:0 auto 0;}
#SongTitle{font-size:12px;float:left;   }
#topBar{height:200px;}
.songStats{}
}
