


body{background:lightgrey}
#contents{
  height:600px;
  width:400px;
  background:white;
  border:3px solid black;
}

#innerContent{
  border:;
  height:580px;
  width:380px;
  margin: 0 auto 0;
  top:50%;
  transform:translateY(-50%);
  position:relative;
}

#mainTitle{
  width:100%;
  height:44px;
  border: ;
  color:black; font-size:44px;font-weight:bolder;
  border-bottom: 1px solid lightgrey;
}

#mainTitle2{
  width:100%;
  height:50px;
}

#mainTitle3{
  width:100%;
  height:55px;
  border: ;
  border-bottom:5px solid black;
}
#serve-size1{
  height:24px;
  width:100%;
  border:;
  font-size:18px;
}
#serve-size2{
  height:24px;
  width:100%;
  border:;
  font-weight:bolder;
  font-size:18px;
  border-bottom:10px solid black;
}
#ss1{float:left;font-size:20px}
#ss2{float:right;font-size:20px}
#amountPer{
  height:16px;
  width:100%;
    border:;
  margin-top:10px;
  position:relative;
    color:black;font-weight:bolder;
}
#Calories{
   height:26px;
  width:50%;
    border:;
    position:relative;
    color:black;font-weight:bolder;font-size:28px;
  float:left;
}

#CaloriesNum{
   height:24px;
  width:50%;
    border:;
    position:relative;
    color:black;font-weight:bolder;font-size:28px;
  float:right;
  text-align:right
}

.rowMain{
  height:19px;
  width:100%;
  border:1px solid  transparent;
  font-weight:bolder;
  border-bottom:1px solid black;
}
.rowSub{
  height:19px;
  width:100%;
  border:1px solid transparent;
  text-indent:25px;
  border-bottom:1px solid black;
}
.title{
  height:;
  min-width:80px;
  max-width:250px;
  float:left;
  border:;
}
.grams{
  height:;
  width:;
  float:left;
  border:;
  text-align: right;
padding-left: 8px;
}
.DV{
  height:;
  width:;
  font-weight:bolder;
  border:;
  float:right;}

#legend{
  height:64px;
  width:100%;
  font-weight:bolder;

}

#rightLegend{
 width:96%;
  height:100% ;
  float:left;

font-size:12px;
}
#leftLegend{
  width:2%;height:100%;
    float:left;


}
