html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.7s;
    background-color: white;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    background-color: #222222;
}

#blank {
    height: 500px;
    width: 100%;
    background-color: grey;
}

footer {
    height: 50px;
    background-color: #121212;
    color: white;
    text-align: center;
}


/*top menu bar*/

* {
    margin: 0;
    padding: 0;
}

nav {
    background: rbga(225, 0, 0, 0.5);
    width: 270px;
    height: 100%;
    padding: 0;
    margin: 0;
}
nav ul li ul {    border-bottom: 1px black solid;
    box-shadow:1px 1px 3px grey;
}
nav ul li {
    list-style: none;
    float: left;
    position: relative;
    /*parent*/
}

nav ul li a {
    text-decoration: none;
    color: #434343;
    display: block;
    text-align: center;
    padding: 6px 3px;
    width: 70px;
}
/*---HOVER---*/
nav ul li a:hover {
    color: white;
    background-color: grey;
    /*width:75px;*/
    /*padding: 6px 10px;*/

}

nav ul li ul {
    position: absolute;
    /*child*/
    min-width: 160px;
    padding: 0;
    background-color: lightgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}
/*---HOVER---*/

nav ul li:hover ul {
    display: block;
    
    
}

nav ul li ul li a {
    display: block;
    padding: 5px 20px;
    width: 160px;
    text-align: left;

}

ul li a {
    transition: all ease-in-out 0.2s;
}