#genBtn{
    padding:5px 16px;
    border:1.5px solid #3d444d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
    border-radius:10px;
    color:#f0f6fc;
    background-color:#262c36;
    max-width:718px;
    min-width:176px;
    width: auto;
    margin-bottom:20px;
  }
  
  .listText{color:#f0f6fc;text-decoration:none;list-style-type: none;}
  .border-top{background-color:#3d444d;height:1px ;width:97%;margin: 20px auto}
  .badgesRow{min-height:69px;height:auto;width:;
  }
  .badges{height:64px;width:64px;;cursor: pointer}
  html{background:;
  }
  .casing{
    border: 1px solid none;max-width:712px;
  }
  
  .linkage{
    height:25px;
    background-color:#0d1117;
    margin-bottom:4px;
    line-height:1.5;
  }
  
  .filler{
    
  }
  
  .imgHeader{height:12px;width:16px;float:left;padding-right:8px;  line-height:1.5;
    margin-top:1.5px
  }
  
  .textLabel{
    float:left;
    text-decoration:none;
    color:white;
  }
  .textLabel:hover{
    text-decoration:underline;
    color:skyblue;
  }