#genBtn{
    padding:5px 16px;
    border:1.5px solid #d1d9e0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
    border-radius:10px;
    color:#33383e;
    background-color:#f6f8fa;
    max-width:718px;
    min-width:256px;
    width: auto;
    margin-bottom:20px;
    margin-top:10px;
  }
  #avatarMain{left:50%;border-radius:50%;border:4px solid #dfe0e0;height:296px;display:block;margin: 0 auto  0}
  .listText{color:#f0f6fc;text-decoration:none;list-style-type: none;}
  .border-split{background-color:#eef1f3;height:1px ;width:97%;margin: 20px auto;}
  .badgesRow{min-height:69px;height:auto;width:;  }
  .badges{height:64px;width:64px;;cursor: pointer}

  body{background-color:#FFFFFF;}
  .casing{
    border: 1px solid none;max-width:712px;
    min-width:255px;
    width:300px;
  }
  
  .linkage{
    height:25px;
    background-color:#FFFFFF;
    margin-bottom:4px;
    line-height:1.5;
  }
  
  .filler{
    
  }
  
  .imgHeader{height:12px;width:16px;float:left;padding-right:8px;  line-height:1.5;
    margin-top:1.5px
  }
  
  .textLabel{
    float:left;
    text-decoration:none;
    color:hsl(216deg 12.82% 15.29%);
  }
  .textLabel:hover{
    text-decoration:underline;
    color:skyblue;
  }

  #fullName{color:#33383e;font-size:34px;text-align:center;line-height: 1.25;margin-bottom:0;padding:0px 0px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}
  #userName{color:#59636e;font-size:24px;text-align:center;line-height: 1.25;margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}

  .linkageFontTheme{color:#59636e;float:left;line-height:1.5;margin-left:5px;margin-right:12px}
  h2{
    color:#1f2328;
  }