html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.7s;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    background-color: #222222;
}

footer {
    height: 50px;
    background-color: #121212;
    color: white;
    text-align: center;
}


/*Menu*/

ul {}

li {}

li a,
dropbtn {}

.dropdown-content {}

.dropdown-contenr a {}

.dropdown:hover .dropdown-content {}