@media only screen and (min-width:0px) and (max-width: 320px) {}
    
@media only screen and (min-width:321px) and (max-width: 375px) {
    .container {
        width: ;
    }
    .contentA {
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
 
    .barrelImg {
        height: ;
        width: ;
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
   
    img.mainImage {
        height: ;
        width: ;
    }
    .contentCellSize {
        width: ;
        height: ;
    }
    div.mainTitle{
        margin:0;
        text-align: center;
        /* margin: 0 0 0 41px;text-align:left; */
    }


    .rmPadding {
        padding-top: 23px;
        margin-top: 0px;
        top: 50%;
        transform: translateY(-50%);
        position: relative;  
    }

    h2.headLineTitle{
        color:#434343;
    }
    
    p.textDescript{
        color:#555;
        font-size:;
    }
}

@media only screen and (min-width:376px) and (max-width: 425px) {
    .container {
        width: ;
        background-color: pink;
    }
    .contentA {
        width: ;
        background-color:;
    }
    .contentb {
        width: ;
        background-color:;
    }
  
    .barrelImg {
        height: ;
        width: ;
    }
    .shippingImg{
        height:225px;
        width:325px;
    }
    img.freshnessImg{
        width: 350px;

        height: 230px;   
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
    img.mainImage {
        height: ;
        width: ;
    }
    img.mainImage {
        height: ;
        width: ;
    }
    .contentCellSize {
        width: ;
        height: ;
    }
    div.mainTitle{
        margin:0;
        text-align: center;
        /* margin: 0 0 0 41px;text-align:left; */
    }
    p.textDescript{
        color:#555;
        font-size:;
    }
}

@media only screen and (min-width:426px) and (max-width:600px) {
    .contentA {
        width: 400px;
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
 
    .shippingImg{
        height:225px;
        width:325px;
    }
    img.freshnessImg{
        width: 350px;

        height: 230px;   
    }
    .barrelImg {
        height: 10px;
        width: 10px;
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
    img.mainImage {
        height:390px ;
        width:390px ;
    }
    .contentCellSize {
        width: 400px;
        height: 100%;
        background-color: ;
    }
    p.textDescript{
        color:#555;
        font-size:;
    }
}

@media only screen and (min-width:601px) and (max-width: 768px) {
    .contentA {
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
 
    .barrelImg {
        height: 10px;
        width: 10px;
    }
    .shippingImg{
        width: 450px;
        height: 300px;                   
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
    img.mainImage {
        height:390px ;
        width:390px ;
    }
    .contentCellSize {
        width: 600px;
        height: ;
        background-color: skyblue;
    }
    p.textDescript{
        color:#555;
        font-size:;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
    .contentA {
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
 
    .barrelImg {
        height: 10px;
        width: 10px;
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
   
    img.mainImage {
        height:390px ;
        width:390px ;
    }
    .contentCellSize {
        width: 750px;
        height: ;
        background-color: pink;
    }
    p.textDescript{
        color:#555;
        font-size:;
    }

}

@media only screen and (min-width:1025px) and (max-width: 1440px) {
    .contentA {
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
    img.mainImage {
        height: ;
        width: ;
    }
    .barrelImg {
        height: 10px;
        width: 10px;
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }
 
    img.mainImage {
        height: 500px;
        width: 500px;
    }
    .contentCellSize {
        width: 750px;
        height: ;
    }
    p.textDescript{
        color:#555;
        font-size:;
    }
}

@media only screen and (min-width:1441px) and (max-width: 2560px) {
    .container {
        width: 768px;
    }
    .contentA {
        width: ;
        background-color: pink;
    }
    .contentb {
        width: ;
        background-color: skyblue;
    }
    img.mainImage {
        height: ;
        width: ;
    }
    .barrelImg {
        height: 10px;
        width: 10px;
    }
    .barrelContentHolder {
        height: ;
        width: ;
    }
    .barrelSpecsHolder {
        height: ;
        width: ;
    }

    img.mainImage {
        height: 600px;
        width: 600px;
    }
    .contentCellSize {
        width: 750px;
        height: ;
    }
    p.textDescript{
        color:#555;
        font-size:;
    }
}
       
    @media only screen and (min-height:813px) and (max-height:1024px) {

        .contentA {
            width: 400px;
            width: ;
            background-color: purple;
        } 
    
        .contentB {
            width: 400px;
            width: ;
            background-color: green;
        }
    
        img.mainImage
{
        height:600px;
        width:600px;
        }
    
        .shippingImg{
            height:175px;
            width:325px;
        }
    
        img.freshnessImg{
            height:260px;
            width:320px;
        }
        h1.welcomeTitle{
            font-size:60px;
        }
    
    }
    @media only screen and (min-height:1024px) and (max-height:1280px) {

        .contentA {
            width: 400px;
            width: ;
            background-color: purple;
        } 
    
        .contentB {
            width: 400px;
            width: ;
            background-color: green;
        }
    
        img.mainImage{
        height:650px;
        width:600px;
        }
    
        .shippingImg{
            height:175px;
            width:325px;
        }
    
        img.freshnessImg{
            height:260px;
            width:320px;
        }
        h1.welcomeTitle{
            font-size:70px;
        }
        button.viewProducts{
            font-size:35px;
        }
        .span.subT{
            font-size:;
            color:;
        }
    
    }

    @media only screen and (min-height:1081px) and (max-height:1440px) {

        .contentA {
            width: 400px;
            width: ;
            background-color: purple;
        } 
    
        .contentB {
            width: 400px;
            width: ;
            background-color: green;
        }
    
        img.mainImage{
        height:600px;
        width:600px;
        }
    
        .shippingImg{
            height:175px;
            width:325px;
        }
    
        img.freshnessImg{
            height:260px;
            width:320px;
        }

        h1.welcomeTitle{
            font-size:60px;
        }
    
    }

    @media only screen and (min-height:1441px) and (max-height:2160px) {

        .contentA {
            width: 400px;
            width: ;
            background-color: purple;
        } 
    
        .contentB {
            width: 400px;
            width: ;
            background-color: green;
        }
    
        img.mainImage{
        height:1400px;
        width:1200px;
        }
    
        img.shippingImg{
            height:200px;
            width:350px;
        }
    
        img.freshnessImg{
            height:260px;
            width:320px;
        }

        h1.welcomeTitle{
            font-size:140px;
        }

       button.viewProducts{
        font-size:80px;
        border:6px solid red;
        }
        span.subT{
            font-size:64px;
        }
    
    }